a,
a:focus,
a:hover {
  color: #fff;
}

Link {
  color: #fff;
}

h1,
button {
  font-family: 'Yeseva One';
}

.second_title {
text-align: center;
}

html,
body {
  font-family: 'Merriweather';
}

body {
  text-align: left;
  color: #fff;

  background-color: #0d3d69;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.wrapper {
  margin: auto;
  width: 100%;
  padding-left: 72px;
  padding-right: 72px;
}

/* Навигационная шапка */
.nav-link {
  padding: 6px;
  font-size: 18px;
  font-weight: 300;
  color: #fcfcfc;
  border-bottom: 0.25rem solid transparent;
}

.navibar {
  padding-left: 64px;
  padding-right: 72px;
  background: rgba(0, 0, 0, 0.1);
}

.btn-exit {
  width: 150px;
  height: 50px;
  background: transparent;
  border: 2px solid #ffffff;
  color: white;
  font-size: 16px;
}

.btn-exit:hover,
.btn-exit:active {
  background-color: #fff;
  color: #E34A6F;
}


/* Главная страница */
.cover {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.main_h1 {
  margin-top: 90px;
  font-size: 44px;
  text-align: center;
  font-weight: 400;
  width: auto;
}
.main-content {
  margin: auto;
  display: inline;
}
.main_h2 {
  margin-top: 48px;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
}
.btn-pink {
  width: 165px;
  height: 55px;
  background: #E34A6F;
  border: 1px solid #ffffff;
  font-weight: 400;
  font-size: 18px;
  color: white;
  margin-left: 24px;
}

.btn-open {
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  background: transparent;
}

.btn-open:hover,
.btn-open:active {
  background-color: #fff;
  color: #E34A6F;
}

.table-users {
  margin-top: 34px;
  font-weight: 300;
}

.table1 {
  width: 100%;
  font-weight: 300;
}

.tb-users {
  padding: 0 0 15px 0;
  font-size: 18px;
}


/* Как это работает */
.third-h1{
  margin-top: 90px;
  font-size: 44px;
}

.h2-faq {
  margin-top: 40px;
  margin-right: 644px;
  font-size: 30px;
}

.player-wrapper {
  position: relative;
  padding-top: 30%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 50%;
}

/* Создать WishList */
.create-wishlist {
  text-align: center;
}

.second-h1 {
  margin-top: 90px;
  margin-bottom: 48px;
  font-size: 44px;
  text-align: center;
}

/* Редактирование WishList */
.table-container {
  padding-top: 48px;
  overflow-y: auto;
  _overflow: auto;
}

.inputItem1 {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  font-size: 16px;
  background-color: white;
  padding: 7px 7px 7px 10px;
  transition: width 0.4s ease-in-out;
}

.inputItem2 {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  font-size: 16px;
  background-color: white;
  padding: 7px 7px 7px 10px;
  transition: width 0.4s ease-in-out;
}
.inputItem3 {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  font-size: 16px;
  background-color: white;
  padding: 7px 7px 7px 10px;
  transition: width 0.4s ease-in-out;
}

.inputItem1:focus {
  width: 400%;
  z-index: 1;
  position: relative;
}
.inputItem2:focus {
  width: 300%;
  z-index: 2;
  position: relative;
}
.inputItem3:focus {
  width: 500%;
  z-index: 3;
  position: relative;
}

th {
  padding: 12px;
  padding-right: 30px;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.tb-middle {
  text-align: center;
}

td:nth-child(5) {
  text-align: center;
}

td {
  padding: 12px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 300;
}

.tb-img {
  width: 100%;
}

.tb-booking {
  display: inline-block;
  width: 30px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}


.btn-edit {
  width: 100%;
  height: 34px;
  background: transparent;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  color: white;
  font-size: 15px;
  font-weight: 400;
}

.btn-edit:hover {
  background: white;
  color: #E34A6F;

}

.rating-area {
  overflow: hidden;
  width: 100%;
}
.rating-area:not(:checked) > input {
  display: none;
}
.rating-area:not(:checked) > label {
  float: right;
  width: 20%;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked) > label:before {
  content: '★';
}
.rating-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
  position: relative;
}


.inputWishListItemID {
  display: none;
}

/* Страница авторизации */

.h1-auth {
  padding-top: 198px;
  text-align: center;
}

.form {
  /* Расположим форму по центру страницы */
  margin: 0 auto;
  padding-top: 48px;
  width: 416px;
}

.inputAuth {
  width: 100%;
  padding: 12px;
  border: 1px solid #c4c4c4;
}

.btn-auth-1 {
  width: 196px;
  height: 55px;
  background-color: #E34A6F;
  border: 4px solid #ffffff;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  margin-left: -14px;
}

.btn-auth-2 {
  width: 196px;
  height: 55px;
  background: transparent;
  border: 4px solid #ffffff;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  margin-left: 55px;
  margin-right: -14px;
}

.btn-auth-1:hover {
  background: transparent;
}
.btn-auth-2:hover {
  background: #E34A6F;
}

.row {
  margin-bottom: 24px;
}

.btn-row {
  margin-top: 48px;
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navibar {
    padding-left: 24px;
    padding-right: 24px;
    background: rgba(0, 0, 0, 0.1);
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .wrapper {
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
  .main_h1 {
    margin-top: 48px;
    font-size: 27px;
    text-align: center;
    font-weight: 400;
    width: auto;
  }
  .btn-pink {
    width: 135px;
    height: 45px;
    font-size: 13px;
    margin-left: 12px;
  }
  .table-users {
    margin-top: 29px;
  }

  .tb-users {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .third-h1{
text-align: center;
  }
  .h2-faq {
    margin: 48px 0px 60px;
    font-size:30px;
    text-align: center;
  }
  .react-player {
    left: 25%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .third-h1{
    text-align: center;
      }
  .h2-faq {
    margin: 24px 0px 40px;
    font-size: 20px;
    text-align: center;
  }

  .react-player {
    left: 25%;
  }
  .btn-open {
    width: 100px;
  }
  .second-h1 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .rating-area:not(:checked) > label {
    float: right;
    width: 20%;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
  }

  .inputItem1 {
    font-size: 14px;
  }

  .inputItem2 {
    font-size: 14px;
  }
  .inputItem3 {
    font-size: 14px;
  }

  .inputItem1:focus {
    width: 400%;
    z-index: 1;
    position: relative;
  }
  .inputItem2:focus {
    width: 300%;
    z-index: 2;
    position: relative;
  }
  .inputItem3:focus {
    width: 500%;
    z-index: 3;
    position: relative;
  }
  .tb-booking {
    margin: 0 auto;
    width: 100%;
  }
  .btn-edit {
    width: 100%;
    height: 34px;
    background: transparent;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    color: white;
    font-size: 12px;
  }
  th {
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }
  td {
    padding: 10px;
    padding-right: 5px;
    font-size: 14px;
    font-weight: 300;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .rating-area:not(:checked) > label {
    float: right;
    width: 20%;
    padding: 0;
    cursor: pointer;
    font-size: 12px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
  }
  .inputItem1 {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    font-size: 10px;
    background-color: white;
    padding: 5px 5px 5px 7px;
    transition: width 0.4s ease-in-out;
  }
  .inputItem2 {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    font-size: 10px;
    background-color: white;
    padding: 5px 5px 5px 7px;
    transition: width 0.4s ease-in-out;
  }
  .inputItem3 {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    font-size: 10px;
    background-color: white;
    padding: 5px 5px 5px 7px;
    transition: width 0.4s ease-in-out;
  }
  .inputItem1:focus {
    width: 500%;
    z-index: 1;
    position: relative;
  }
  .inputItem2:focus {
    width: 500%;
    z-index: 2;
    position: relative;
  }
  .inputItem3:focus {
    width: 500%;
    z-index: 3;
    position: relative;
  }
  .tb-booking {
    margin: 0 auto;
    width: 100%;
  }
  th {
    padding: 5px;
    font-size: 12px;
  }
  td {
    padding: 5px;
    padding-right: 5px;
    font-size: 10px;
  }
  .btn-edit {
    width: 100%;
    height: 30px;
    background: transparent;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    color: white;
    font-size: 10px;
  }
}
@media screen and (max-width: 767px) {
  .h1-auth {
    padding-top: 115px;
    text-align: center;
    font-size: 36px;
  }
  .form {
    /* Расположим форму по центру страницы */
    margin: 0 auto;
    padding-top: 23px;
    width: 90%;
  }
  .inputAuth {
    width: 100%;
    padding: 12px 24px;
    border: 1px solid #c4c4c4;
  }
  .btn-row {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
  }
  .btn-auth-1 {
    width: 180px;
    height: 44px;
    background-color: #E34A6F;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    color: white;
    font-size: 13px;
    cursor: pointer;
    margin-left: -15px;
  }
  .btn-auth-2 {
    width: 180px;
    height: 44px;
    background: transparent;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    color: white;
    font-size: 13px;
    margin-right: -15px;
  }
  .row {
    margin-bottom: 24px;
  }
}
