a,
a:focus,
a:hover {
  color: #fff;
}

Link {
  color: #fff;
}
html,
body {
  height: 100%;
  background: linear-gradient(180deg, #1a4d52, #d7dea9);
}

body {
  text-align: center;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-link {
  font-size: 18px;
  padding: 0.25rem 0;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.navibar {
  padding-top: 1rem;
}

.content {
  flex: 1 0 auto;
}
.cover {
  flex: 1 0 auto;
}

.main_h1 {
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: 20%;
  margin-right: 20%;
}

.main_h2 {
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 20%;
  margin-right: 20%;
}

.inputID {
  width: 450px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url();
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 30px;
  transition: width 0.4s ease-in-out;
  border-radius: 40px;
  font-weight: 600;
  margin: 10px;
}

.inputID:focus {
  width: 35%;
}

.inputItem {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  padding: 10px 10px 10px 20px;
  transition: width 0.4s ease-in-out;
  border-radius: 40px;
  font-weight: 600;
}

.inputAuth {
  width: 20%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  padding: 10px 10px 10px 20px;
  transition: width 0.4s ease-in-out;
  border-radius: 40px;
  font-weight: 600;
  margin: 5px;
}

.auth {
  text-align: center;
}

.btn1 {
  background-color: #fff;
  border-radius: 40px;
  border: none;
  color: #1d7982;
  font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.table-container {
  width: 95%;
  overflow-y: auto;
  _overflow: auto;
  margin: 0 0 1em;
}

.table1 {
  margin: auto;
}

.wishlist_id {
  padding-left: 30px;
  text-align: left;
}

h1 {
  margin-top: 5%;
  margin-bottom: 2%;
}
